body {
	background-color: cornflowerblue;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-container {

}

.footer {
	
}

.panel {
	background-color: lightgoldenrodyellow;
	border: 8px solid burlywood;
	-webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
	box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
}

.header {
	height: 80px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-text {
	font-size: 30px;
	font-weight: bold;
	width: 220px;
	margin: 0;
}

.gameBoard {
	display: grid;
	grid-template-columns: repeat(4,1.5fr);
	row-gap: 5px;
	height: 500px; 
	width: 500px;
	background-color: bisque;
	border: 8px solid burlywood;
	border-radius: 8%;
	-webkit-box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
	box-shadow: 7px 5px 15px 3px rgba(0,0,0,0.9);
}

.gameCircle{
	border-radius: 50%;
	display: grid;
	place-items: center;
	border: 5px solid;
	margin: 10px;
}



.player-0 {
	background-color: white;
}

.player-1 {
	background-color: red;
}

.player-2 {
	background-color: blue;
}
