.gameBoard {
    display: grid;
    grid-template-columns: repeat(4,1.5fr);
    row-gap: 5px;
    height: 500px; 
    width: 700px;
}

.gameCircle{
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.odd-circle {
    background-color: red;
}

.even-circle {
    background-color: blue;
}
