.gameBoard {
    display: grid;
    grid-template-columns: repeat(4,1.5fr);
    row-gap: 5px;
    height: 700px; 
    width: 800px;
}

.gameCircle{
    border-radius: 50%;
    display: grid;
    place-items: center;
    border: 5px solid;
}

.player-1 {
    background-color: red;
}

.player-2 {
    background-color: blue;
}

.player-0 {
    background-color: white;
}
